.table {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-collapse: collapse;
}
.table th, .table td {
    vertical-align: middle;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.table-dark {
    background-color: #343a40;
    color: #fff;
}

.btn-danger {
    padding: 5px 10px;
    font-size: 14px;
}